@import '../App.scss';
.inputHero{
    margin-bottom: 1em !important;
    border-radius: 3em !important;
    height: 3em !important;
    text-align: center;
    width: 60em !important;
}
.categoria:hover{
    background-color: $primary-variation2 !important;
    // background-color: lighten($default-primary, 20%) !important;
    // color: white !important;
    border-radius: 1em;
    transition: all .5s;
}
.heroFoot{
    margin-bottom: 2em;
}
.subtitle{
    color: white !important;
}
