@import '../App.scss';
.cardContainer{
    box-shadow: none !important;
    border: none !important;
    img{
        border-radius: 1em;
        max-height: 14em;
    }
    .cardTitle{
        display: flex;
        justify-content: center;
        padding-top: 0 !important;
    }
    .media{
        width: 100% !important;

    }
}
.textTitle{
    margin-top: 1em;
    color: rgb(27, 27, 27) !important;
    text-align: center;
    
}
.reviews{
    margin-top: 0 !important;
    color: $default-primary !important;
}
.cotacaoButton{
    width: 100%;
}