@import '../App.scss';
.cardContainer{
    box-shadow: none !important;
    img{
        border-radius: 1em;
        max-height: 14em;
    }
    .cardTitle{
        display: flex;
        justify-content: center;
        padding-top: 0 !important;
    }
}
.textContent{
}
.textTitle{
    color: rgb(27, 27, 27) !important;
    text-align: center;
}
