@charset 'utf-8';

@import "~bulma/sass/utilities/functions";

// add new colors
$default-primary: #90ED78 !default;
$primary-variation: #B4E27A !default;
$default-secondary: #00AAAD !default; 

$layout-margin: 10em;

$custom-colors: (
  "default-primary": ($default-primary),
  "primary-variation": ($primary-variation),
  "default-secondary": ($default-secondary),
 
);

@import "~bulma/bulma";
@import "~rbx/rbx";


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.content{
  padding: 0 $layout-margin 5em $layout-margin;
}
@media screen and (max-width: 1125px) {
  .content{
    padding: 2em;
  }
}
@media screen and (max-width: 600px) {
    .content{
      padding: 1em;
    }
}
  
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
